/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* components/styles.module.css */
:root {
    --border: 5px;
    --color1: #581f18;
    --color2: #ffc07c;
    --from: 30deg;
    --distance: 46%;
  }
.img-wrap {
    position: relative;
    padding: 15px;
}
  
.img-wrap::after {
    content: '';
    border-radius: 999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: conic-gradient(
      from var(--from),
      var(--color1),
      var(--color2) var(--distance),
      transparent var(--distance)
    ); */
    @apply bg-gradient-to-tl from-primary from-20% via-secondary via-45% to-transparent to-50% rounded-full;


    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
    );

    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
      /* bg-[conic-gradient(var(--tw-gradient-stops))] from-pink-600 via-gray-100 to-teal-200 */
    );
    
}
  
  .img {
    border-radius: 999px;
    display: block;
    width: calc(100vw);
    max-width: 1024px;
    height: auto;
  }
  